[Unit]
Description=Simple Unit file for time.
After=rc-local.service

[Service]
WorkingDirectory=/home/pi/github/autostart2/test/time
ExecStart=/home/pi/github/autostart2/test/time/time
Restart=always
RestartSec=30
Type=simple
PIDFile=/var/run/time.pid

[Install]
WantedBy=multi-user.target
